body
  {background-color: royalblue;

}

p {
  color:white;
  font-style: italic;
}

header
  {background-color: white;
  padding: 2%;
  text-align: center;
}

h2 { text-align: center
}
ul {font-family: fantasy;}
img{border-style: groove;
  }

footer
{background-color: teal;
    padding: 2%;
}
